.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zFixed);
    background-color: var(--bodyColor);
    .nav{
        height: calc(var(--headerHeight) + 1.5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
        .navLogo, .navToggle{
            color: var(--titleColor);
            font-weight: var(--fontMedium);
        }
        .navClose, .navToggle, .navIcon{
            display: none;
        }
        .navMenu{
            .navList{
                display: flex;
                column-gap: 2rem;
                .navItem{
                    .navLink{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: var(--smallFontSize);
                        color: var(--titleColor);
                        font-weight: var(--fontMedium);
                        transition: .4s;
                        &.activeLink, &:hover{
                            color: var(--titleColorDark);
                        } 
                    }
                }
            }
        }
    }

    @media screen and (max-width: 991px){
        .container{
            margin-left: var(--mb-1-5);
            margin-right: var(--mb-1-5);
        }
    }
    @media screen and (max-width: 768px){
        top: initial;
        bottom: 0;
        .nav{
            height: var(--headerHeight);
            .navMenu{
                position: fixed;
                bottom: -100%;
                left: 0;
                width: 100%;
                background-color: var(--bodyColor);
                padding: 2rem 1.5rem 4rem;
                box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
                border-radius: 1.5rem 1.5rem 0 0;
                transition: .4s;
                .navList{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 2rem;
                }
            }
            .navIcon{
                font-size: 1.2rem;
            }
            .navClose{
                position: absolute;
                right: 1.3rem;
                bottom: .5rem;
                font-size: 1.5rem;
                cursor: pointer;
                color: var(--titleColor);
                &:hover{
                    color: var(--titleColorDark);
                }
            }
            .navToggle{
                font-size: 1.1rem;
                cursor: pointer;
            }
            .navClose, .navToggle, .navIcon{
                display: block;
            }
            .showMenu{
                bottom: 0;
            }
        }
        
    }
    @media screen and (max-width: 400px){
        .container{
            margin-left: var(--mb-1);
            margin-right: var(--mb-1);
        }
        .nav{
            .navMenu{
                padding: 2rem 0.25rem 4rem;
                .navList{
                    column-gap: 0;
                }
            }
        }
    }
}